body {
	color: default;
	background: default;
	max-width: 1024px;
	margin: auto;
}

a {
	color: default;
}

a:visited {
	color: default;
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background: #222;
	}

	a {
		color: lightskyblue;
	}

	a:visited {
		color: slateblue;
	}
}
